*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid{

}
.glbfeed{

}
.paragraph{
    display: flex;
    flex-direction: column;

}
.para1{

}
.para2{

}
.para3{

}
.para4{

}
.para5{

}
.para6{

}